:host {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 20px;

  &.disabled {
    opacity: 0.7;
    pointer-events: none;
  }
}

.required {
  color: red;
}

.gender {
  background-color: lightgray;
  padding: 4px 6px;

  &:hover {
    background-color: lightblue;
  }
}

.gender_selected {
  background-color: lightblue;
}
