<h3>Создать аккаунт</h3>

<form class="form" (submit)="createUser($event)">
  <label class="label" for="name">Имя</label>
  <input
    id="name"
    class="input"
    type="text"
    [formField]="signupForm.name"
    placeholder="Введите имя"
  />
  @if (signupForm.name().touched()) {
    @for (error of signupForm.name().errors(); track error.kind) {
      <span class="error">{{ error.message }}</span>
    }
  }

  <label class="label" for="surname">Фамилия</label>
  <input
    id="surname"
    class="input"
    type="text"
    [formField]="signupForm.surname"
    placeholder="Введите фамилию"
  />
  @if (signupForm.surname().touched()) {
    @for (error of signupForm.surname().errors(); track error.kind) {
      <span class="error">{{ error.message }}</span>
    }
  }

  <gender-control [formField]="signupForm.gender" />

  <label class="label" for="email">Email</label>
  <input
    id="email"
    class="input"
    type="email"
    [formField]="signupForm.email"
    placeholder="Введите email"
  />
  @if (signupForm.email().touched()) {
    @for (error of signupForm.email().errors(); track error.kind) {
      <span class="error">{{ error.message }}</span>
    }
  }

  <label class="label" for="password">Пароль</label>
  <input
    id="password"
    class="input"
    type="password"
    [formField]="signupForm.password"
    placeholder="Введите пароль"
  />
  @if (signupForm.password().touched()) {
    @for (error of signupForm.password().errors(); track error.kind) {
      <span class="error">{{ error.message }}</span>
    }
  }

  <label class="label" for="confirmPassword">Повторите пароль</label>
  <input
    id="confirmPassword"
    class="input"
    type="password"
    [formField]="signupForm.confirmPassword"
  />
  @for (error of signupForm.confirmPassword().errors(); track error.kind) {
    <span class="error">{{ error.message }}</span>
  }

  <label class="label" for="notifyByPhone"
    >Получать уведомления на телефон
    <input
      id="notifyByPhone"
      class="input"
      type="checkbox"
      [formField]="signupForm.phone.notifyEnabled"
  /></label>

  @if (!signupForm.phone.phoneNumber().hidden()) {
    <label class="label" for="phone">Телефон</label>
    <input
      id="phone"
      class="input"
      type="text"
      [formField]="signupForm.phone.phoneNumber"
      placeholder="Введите телефон"
    />
    @if (signupForm.phone.phoneNumber().touched()) {
      @for (error of signupForm.phone.phoneNumber().errors(); track error.kind) {
        <span class="error">{{ error.message }}</span>
      }
    }
  }

  <button
    class="button"
    [disabled]="signupForm().submitting() || signupForm().invalid()"
    type="submit"
  >
    Создать
  </button>
</form>
