<h3>User Signup Signal Form</h3>

<form class="form">
  <label class="label" for="name">Имя</label>
  <input
    id="name"
    class="input"
    type="text"
    [formField]="signupForm.name"
    placeholder="Введите имя"
  />
  <label class="label" for="surname">Фамилия</label>
  <input
    id="surname"
    class="input"
    type="text"
    [formField]="signupForm.surname"
    placeholder="Введите фамилию"
  />
  <label class="label" for="email">Email</label>
  <input
    id="email"
    class="input"
    type="email"
    [formField]="signupForm.email"
    placeholder="Введите email"
  />
  <label class="label" for="password">Пароль</label>
  <input
    id="password"
    class="input"
    type="password"
    [formField]="signupForm.password"
    placeholder="Введите пароль"
  />
  <label class="label" for="confirmPassword">Повторите пароль</label>
  <input
    id="confirmPassword"
    class="input"
    type="password"
    [formField]="signupForm.confirmPassword"
  />
  <label class="label" for="notifyByPhone"
    >Получать уведомления на телефон
    <input id="notifyByPhone" class="input" type="checkbox" [formField]="signupForm.notifyByPhone"
  /></label>

  @if(signupForm.notifyByPhone().value()){
  <label class="label" for="phone">Телефон</label>
  <input
    id="phone"
    class="input"
    type="phone"
    [formField]="signupForm.phone"
    placeholder="Введите телефон"
  />
  }

  <button class="button" type="submit">Зарегистрироваться</button>
</form>
<!-- <button [disabled]="signupForm().submitting() || !signupForm().valid()" type="submit">
    Зарегистрироваться
  </button> -->
<!-- <form (submit)="onSubmit($event)">
  <input [control]="signupForm.firstName" placeholder="Enter Your Name" type="text" />
  @for (error of signupForm.firstName().errors(); track $index) {
  <div class="error">{{ error.message }}</div>
  }
  <input [control]="signupForm.lastName" placeholder="Your Last Name" type="text" />
  @for (error of signupForm.lastName().errors(); track $index) {
  <div class="error">{{ error.message }}</div>
  }
  <input [control]="signupForm.email" placeholder="Provide valid Email" type="email" />
  @for (error of signupForm.email().errors(); track $index) {
  <div class="error">{{ error.message }}</div>
  }
  <label>
    Notify By Email:
    <input [control]="signupForm.notifyByEmail" type="checkbox" />
  </label>
  
</form> -->
